@charset "utf-8";

*,
*:after,
*:before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  background: var(--c-bg);
}
html {
  font-family: var(--font-main);
}

/* 전체 레이아웃 */
.tab_menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--c-bg);
  height: 50px;
}

.tab_menu li {
  flex: 1;
  text-align: center;
}

.tab_menu button {
  width: 100%;
  height: 100%;
  background: none;
  color: var(--c-gray2);
  font-size: var(--fs3);
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.tab_menu li.b_active button {
  color: var(--c-main); /* 활성 탭 보라색 */
  background-color: var(--c-gray);
  height: 50px;
}

/* 탭1 콘텐츠 정보 영역 */
#tab_info {
  width: 100%;
  background-color: var(--c-bg);
  color: var(--c-font);
  font-size: var(--fs2);
  margin: 50px auto;
}

#tab_info h3 {
  font-size: var(--fs3);
  font-weight: bold;
  text-align: center;
  margin: 18px;
}

/* 추천 버튼 영역 */
.like_box {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  padding-bottom: 25px;
}

.like_box button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 100%;
  height: 38px;
  background-color: var(--c-gray);
  border-radius: 10px;
  border: none;
  color: var(--c-gray2);
  font-size: var(--fs2);
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
}

.like_box button img {
  width: 14px;
  height: 14px;
  transition: 0.3s;
}

/* 버튼 클릭 시 활성화 */
.like_box button.active {
  color: #49e99c; /* 초록색 텍스트 */
}

/* 영화 메타정보 */
.movie_meta {
  display: block;
  width: 90%;
  padding-top: 12px;
  list-style: none;
  margin: 0 auto;
}

.movie_meta li {
  margin-bottom: 6px;
  font-size: var(--fs2);
  line-height: 1.6;
}

.movie_meta li strong {
  display: inline-block;
  width: 90px; /* 이 값으로 왼쪽 제목 영역 너비를 고정 */
  font-weight: bold;
}

/* 탭2 감상평 영역 */
#tab_review {
  width: 100%;
  background-color: var(--c-bg);
  color: var(--c-font);
  margin: 50px auto;
}

/* 텍스트 기본 */
#tab_review p,
#tab_review span {
  line-height: 1.6;
}

/* 공통 별 아이콘 */
.star_rating {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 16px 0;
}

.star_rating img {
  width: 30px !important;
  height: 30px !important;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.star_rating img:hover {
  transform: scale(1.1);
}

/* ===========================
   로그인된 상태
=========================== */
.review_login {
  background-color: var(--c-bg);
  margin-bottom: 20px;
  position: relative;
  display: block;
  text-align: center;
}

.review_login > p {
  text-align: center;
  margin-bottom: 10px;
  font-size: var(--fs3);
}

.review_login strong {
  font-weight: bold;
}

.review_login .nickname {
  color: var(--c-main);
}

.review_login img {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  cursor: pointer;
  vertical-align: middle;
}

/* i 아이콘 팝업 */
.iicon_popup {
  display: none; /*display: none; 기본 숨김상태*/
  position: relative;
  top: 35px;
  background-color: var(--c-bg);
  border: 2px solid #3b393c;
  border-radius: 10px;
  padding: 30px;
  font-size: var(--fs2);
  line-height: 1.6;
  color: var(--c-font);
  z-index: 10;
  text-align: center;
  margin: 0 auto;
  opacity: 75%;
  width: 80%;
}

/* i 아이콘 팝업 노출 상태*/
.iicon_popup.active {
  display: block;
}

/* 입력 영역 */
.review_input {
  width: 90%;
  height: 70px;
  border-radius: 10px;
  background-color: var(--c-gray);
  color: var(--c-font);
  padding: 15px;
  font-size: var(--fs2);
  resize: none;
  margin: 0 auto;
}

.review_input::placeholder {
  color: var(--c-gray2);
}

.review_input2 {
  width: 90%;
  height: 70px;
  border-radius: 10px;
  background-color: var(--c-gray);
  color: var(--c-font);
  padding: 15px;
  font-size: var(--fs2);
  resize: none;
  margin: 0 auto;
}

.review_input2::placeholder {
  color: var(--c-gray2);
}

.register_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background-color: var(--c-gray);
  color: var(--c-gray2);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: var(--fs2);
  padding: 10px 20px;
  margin: 12px auto 0;
  cursor: pointer;
  transition: 0.2s;
}

.register_btn img {
  width: 16px;
  height: 16px;
}

/* ===========================
   비로그인 상태
=========================== */
.review_unlogin {
  background-color: var(--c-bg);
  margin-bottom: 20px;
  position: relative;
  display: block;
  text-align: center;
}

.review_unlogin > p {
  text-align: center;
  margin-bottom: 10px;
  font-size: var(--fs3);
}

.review_unlogin strong {
  font-weight: bold;
}

.review_unlogin img {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  cursor: pointer;
  vertical-align: middle;
}

.review_unlogin .star_rating img {
  cursor: not-allowed; /*마우스 올리면 클릭 막히게 설정.*/
}

/* ===========================
   전체 리뷰 리스트
=========================== */
.review_list {
  background-color: var(--c-bg);
  display: block;
  width: 90%;
  margin: 0 auto;
}

.review_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.review_header h3 {
  font-size: var(--fs4);
  font-weight: bold;
}

.sort_btn {
  background: none;
  border: none;
  color: var(--c-gray2);
  cursor: pointer;
  font-size: var(--fs3);
}

.sort_btn img {
  width: 15px;
  height: 15px;
  transform: rotate(90deg);
}

.review_item {
  background-color: var(--c-bg);
  width: 100%;
  margin: 20px auto;
  border-radius: 10px;
  padding: 25px;
  box-shadow: var(--shadow50);
}

.review_info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.review_info img {
  width: 25px;
  height: 25px;
}

.list_nickname {
  color: var(--c-font);
  font-weight: 500;
  font-size: var(--fs3);
}

.score img {
  width: 13px;
  height: 13px;
  vertical-align: middle;
  margin-right: 3px;
}

.score {
  color: var(--c-point);
  font-weight: bold;
}

.date {
  color: var(--c-gray3);
  font-size: var(--fs1);
  margin-left: auto;
}

.review_text {
  color: var(--c-font);
  font-size: var(--fs2);
  margin: 20px 0;
  padding: 5px 0 20px 0;
  border-bottom: 1px solid var(--c-gray);
}

.bookmark_btn {
  background: none;
  border: none;
  color: var(--c-gray2);
  font-size: var(--fs1);
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: auto;
}

.bookmark_btn img {
  width: 15px;
  height: 15px;
}

.more_btn {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--c-gray); 
  border: none;
  border-radius: 10px;
  color: var(--c-gray2);
  padding: 20px;
  margin: 25px 0 50px 0;
  cursor: pointer;
  font-size: var(--fs3);
  font-weight: bold;
}

.more_btn img {
  width: 18px;
  height: 18px;
  padding-top: 3px;
}

/* ===========================
   로그인 후 별점 남긴 상태
=========================== */
.review_edit {
  width: 90%;
  background-color: var(--c-bg);
  margin: 30px auto;
}

.review_edit h3 {
  font-size: var(--fs3);
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}

.review_edit h3 strong {
  color: var(--c-main);
}

.review_edit .star_rating {
  margin-bottom: 30px;
}

.edit_btnC{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background-color: var(--c-gray);
  color: var(--c-gray2);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: var(--fs2);
  padding: 10px 20px;
  margin: 12px auto 0;
  cursor: pointer;
  transition: 0.2s;
}

.edit_btnC img{
  width: 16px;
  height: 16px;
}


/* 탭3 영상/이미지 영역 */
#tab_media {
  width: 90%;
  max-width: 800px; /* PC 화면에서는 가운데 정렬된 넓이 */
  margin: 100px auto;
  background-color: var(--c-bg);
  color: var(--c-font);
}

/* 제목 (영상,이미지) */
.media_title {
  font-size: var(--fs4);
  font-weight: bold;
  margin: 50px 0 20px;
}

/* ====== 영상 섹션 ====== */
.video_box {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 비율 유지 */
  height: 0;
  overflow: hidden;
  background-color: var(--c-bg);
}

.video_box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}

/* ====== 스틸컷 섹션 ====== */
.stillcuts {
  margin-top: 30px;
}

/* 큰 이미지 */
.image_item.large {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.image_item.large img {
  width: 100%;
  height: auto;
  display: block;
}

/* 하단 3분할 레이아웃 */
.image_layout {
  display: flex;
  gap: 20px;
}

/* 왼쪽 큰 이미지 */
.image_left {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
}

.image_left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 오른쪽 두 개 이미지 */
.image_right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.image_small {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
}

.image_small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 탭 콘텐츠 기본 숨김 */
.tab_content {
  display: none;
}

.tab_content.b_active {
  display: block;
}

/* 리뷰 없음 */
.no_review {
  color: #777;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}