/* 헤더 */
#header {
  position: fixed;
  width: 100%;
  height: 70px;
  background: var(--c-bg);
  z-index: 50;
  display: flex;
  align-items: center;
}

#header a img {
  display: flex;
  height: 18px;
}

#header a img.hide {
  display: none;
}

.header-icon {
  display: flex;
  padding: 0;
  height: 18px;
  gap: 14px;
  cursor: pointer;
}

/* ============= 햄버거 ============= */
.modal-bg.active {
  position: relative;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background: var(--c-bg);
}
.hamburger {
  z-index: 20;
  position: fixed;
  visibility: hidden;
  overflow: hidden;
  transform: translateX(100%);
  transition: transform 0.25s ease, opacity 0.25s ease;
  margin-bottom: 150px;
  background: var(--c-bg);
  color: var(--c-font);
  height: calc(100dvh - 60px);
}

.hamburger.show {
  top: 70px;
  visibility: visible;
  opacity: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  transform: translateX(0);
}
.ham-title-box {
  padding: 0 5vw;
}

.ham-title {
  margin-bottom: 3rem;
}

.ham-title > span {
  font-weight: 800;
  font-size: var(--fs4);
  display: block;
  margin-bottom: 1rem;
}
.ham-sub-box {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: var(--fs3);
}
.ham-sub-box li {
  display: inline-flex;
  height: 35px;
  line-height: 40px;
  padding: 0 1.5rem;
  align-items: center;
  border-radius: 50px;
  background: var(--c-gray);
  transition: all 0.3s ease-in;
}

.ham-sub-box li.active {
  background: var(--c-main);
  color: var(--c-bg);
  font-weight: 800;
}

/* ============= 바텀 네비 ============= */
.bottom-nav {
  z-index: 20;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}

.bot-nav-box {
  width: 90%;
  margin: 0 auto;
  padding: 0 8vw;
  background: rgba(var(--c-gray-rgb), 0.7);
  backdrop-filter: blur(5px); /* 배경 뒤 블러 */
  -webkit-backdrop-filter: blur(5px); /* 사파리 대응 */
  border-radius: 10px;
}
.bot-nav-icons {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 60px;
}
.bot-nav-icon img {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.bot-nav-icon {
  position: relative;
}
.bot-nav-icon.active::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  top: -20px;
  background: var(--c-font);
}

/* 푸터 */
.footer {
  width: 100%;
  text-align: start;
  background: var(--c-gray);
  padding: 5vw 5vw;
  margin-bottom: 0.5rem;
}

.foot-two-box {
  display: flex;
}

.pf-foot p a {
  display: inline-block;
}
.pf-foot p,
.pf-foot p a {
  color: var(--c-gray3);
  font-weight: 700;
}
