*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow: hidden;
  font-family: var(--font-main);
  font-size: var(--fs3);
  background: var(--c-bg);
}

a {
  text-decoration: none;
  color: var(--c-font);
}
