*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  font-family: var(--font-main);
  font-size: var(--fs2);
  background: var(--c-bg);
}

body.lock {
  overflow: hidden;
}

.loginBtn > a {
  color: var(--c-point);
}

/* 이미지 드래그 막아 가로 스크롤 방해 없게 2025.11.14 김하빈 수정 */
img {
  -webkit-user-drag: none;
  user-select: none;
}
a,
span,
p {
  -webkit-user-drag: none;
  user-select: none;
  text-decoration: none;
  color: var(--c-font);
  line-height: 1.6;
  letter-spacing: -0.05rem;
}

button {
  all: unset;
}

#container {
  width: 100%;
}

/* ============= 검색창 ============= */
.search-f {
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 70px;
  height: 40px;
  border-radius: 50px;
  background: var(--c-gray);
  display: flex;
  align-items: center;
}

.search-box {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  padding: 6px;
  display: flex;
  gap: 5px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.search-f button {
  background: var(--c-gray2);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.search-f button img {
  height: 14px;
  width: 14px;
}

.search-in {
  border: none;
  width: 90%;
  font-size: var(--fs2);
  background: transparent;
  padding-left: 0.5rem;
  border-radius: 50px;
}

/* 닉네임 활성화 칸 */
.user-txt-box {
  width: 90%;
  margin: 70px auto 0 auto;
}
.user-txt {
  padding: 2rem 0rem;
  font-size: var(--fs5);
  color: var(--c-font);
  line-height: 160%;
  letter-spacing: -0.02rem;
  font-weight: 800;
}

.user-txt > span {
  color: var(--c-main);
}

/* 카테고리 원 박스 */
#navi-wrap {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  aspect-ratio: 1.06 / 1;
  background: var(--gr-li-gray);
  border-radius: 20px;
}
.navi-box ul {
  width: 100%;
}
.navi-box li {
  position: relative;
  display: inline-block;
  background: var(--gr-li-purple);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.navi-box li a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: var(--fs2);
  font-weight: 300;
  white-space: nowrap;
}

.navi-box li.active {
  width: 180px;
  height: 180px;
  position: relative;
  background: var(--c-point-50);
  overflow: hidden;
}

.navi-box li.active::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--bg-img) center/cover no-repeat;
  z-index: -1;
  opacity: 1;
  filter: blur(10px);
}

.navi-box li.active a {
  font-weight: 800;
}

/* 사용자 데이터 기반 장르 추천 */
.favorite {
  width: 100%;
}

.favorite-txt-box {
  width: 90%;
  margin: 25px 0 12px 5vw;
}

.favorite-txt .input {
  color: var(--c-main);
  letter-spacing: -0.015rem;
}

.favorite-txt span {
  letter-spacing: -0.015rem;
}

.favorite-gutter {
  width: 100%;
}

/* 가로 스크롤 세팅 2025.11.14 김하빈 수정*/
.favorite-list {
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  cursor: grab;
}

.favorite-list,
.favorite-list * {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.favorite-list.active {
  cursor: grabbing;
} /* 가로 스크롤 세팅 마무리*/

.favorite-list-box {
  display: flex;
  padding: 0 5vw;
  gap: 16px;
  height: 75px;
  flex-wrap: nowrap;
  width: max-content;
}

.favorite-list-box::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.favorite-thing {
  cursor: pointer;
  position: relative;
  width: 100%;
  flex: 0 0 var(--card-w);
  aspect-ratio: 1 / 1;
}

/* 2025-11-13 오후 5시 53분 김하빈 수정 */
.favorite-thing > a > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  z-index: 1;
}

.favorite-thing .blankbtn {
  border: 2px solid var(--c-gray);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.favorite-thing:last-child > a > img {
  width: 15px;
  height: 15px;
}

/* 좋아요 버튼 */
/* 좋아요 버튼 위치 오류로 2025.11.13 김하빈 수정 */
.favorite-thing > .likeBtn {
  position: absolute;
  z-index: 1;
  right: 10px;
  bottom: 5px;
  transition: transform 0.15s ease-out;
}

.favorite-thing > .likeBtn .active {
  transform: scale(1.15);
}

.likeBtn > img {
  width: 15px;
  height: 15px;
  filter: drop-shadow(var(--shadow50));
}

/* 요즘 대세 영화는? */
.hot-container {
  width: 100%;
  margin: 5rem 0;
}
.hot-title {
  overflow-x: hidden;
  width: 100%;
}

.hot-txt-box {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  font-weight: 900;
  letter-spacing: -0.05rem;
}

.hot-txt-box > img {
  width: 10px;
  height: 10px;
}

.hot-txt-box h3 {
  color: var(--c-font);
  font-size: var(--fs4);
}

/* ott선택 버튼 */
.hot-nav-container {
  width: 100%;
  overflow-x: hidden;
}
/* 가로 스크롤 세팅 2025.11.14 김하빈 수정 */
.hot-wrap {
  padding: 0 5vw;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  cursor: grab;
}

.hot-wrap,
.hot-wrap * {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.hot-wrap.active {
  cursor: grabbing;
}

.hot-nav-box {
  width: max-content;
  height: 60px;
  display: flex;
  gap: 10px;
}

.all-btn {
  position: relative;
  color: var(--c-font);
  background-color: var(--c-bg);
  flex: 0 0 50px;
  height: 50px;
  border: 3px solid var(--c-gray);
  border-radius: 50px;
  object-fit: cover;
}
.all-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  background: rgba(var(--c-bg-rgb), 0.5);
  pointer-events: none;
  border-radius: inherit;
}
.all-btn p {
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: var(--c-gray3);
  font-size: var(--fs3);
}

.all-btn img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.all-btn .point::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 9px solid var(--c-gray); /* 삼각형 색상 */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -11px;
}

/* .all-btn에 액티브 붙였을 경우 변화 */
.all-btn.active {
  color: var(--c-main);
  border: 3px solid var(--c-main);
}

.all-btn.active::after {
  opacity: 0;
  pointer-events: none;
}

.all-btn.active .point::after {
  content: "";
  border-top: 9px solid var(--c-main); /* 삼각형 색상 */
}

.all-btn.active p {
  color: var(--c-main);
  font-weight: 800;
}

/* 포스터 들어갈 영역 */
.poster-wrap {
  margin-top: 1.5rem;
  width: 100%;
  overflow-x: hidden;
}

/* 가로 스크롤 세팅 2025.11.14 김하빈 수정 */
.poster-box {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 0 5vw;
  cursor: grab;
}

.poster-box,
.poster-box * {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.poster-box.active {
  cursor: grabbing;
}

.all-posters {
  display: flex;
  gap: 16px;
  width: 172px;
}

.poster-title {
  margin: 5px 0;
  font-size: var(--fs3);
  font-weight: 800;
  width: 172px;
  text-align: center;
}

.all-poster a img {
  width: 172px;
  height: 252px;
  border-radius: 10px;
}
.detail-box {
  width: 172px;
  font-size: var(--fs2);
}
.date-box {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.date-box span {
  font-weight: 300;
  letter-spacing: 0rem;
}

.score-contain {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-self: center;
}
.score-contain .score {
  white-space: nowrap;
}
.score-box {
  display: flex;
  align-items: center;
  gap: 1px;
}
.score-box img {
  width: 10px;
}

/* 무브오너들의 감상평 */
.review-container {
  width: 100%;
}

/* 가로 스크롤 세팅 2025.11.14 김하빈 수정 */
.review-wrap {
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 0 5vw;
  cursor: grab;
}

.review-wrap,
.review-wrap * {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.review-wrap.acrive {
  cursor: grabbing;
}

.review-card-box {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 16px;
}

.review-card {
  display: inline-block;
  width: 257px;
  border-radius: 10px;
  background: var(--c-gray);
}

.review {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.left-box {
  width: 80px;
}
.left-box > img {
  width: 100%;
  aspect-ratio: 2 / 3;
  border-radius: 5px;
}

.right-box {
  width: 100%;
}

.work-name {
  font-size: var(--fs1);
  color: var(--c-gray2);
  font-weight: 800;
  margin-bottom: 0.2rem;
}
.user-review {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--c-font);
  font-weight: 700;
  letter-spacing: 0rem;
}

.user-box {
  display: flex;
  align-items: center;
  margin-top: 0.6rem;
  font-size: var(--fs1);
}

.user-box > img {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.user-nick {
  color: var(--c-main);
  font-weight: 800;
}

.user-box span {
  color: var(--c-gray2);
  font-weight: 700;
}

/* 감상평 남기기 */
.review-input {
  width: 90%;
  margin: 16px auto 5vw auto;
}

.review-input1 {
  width: 90%;
  margin: 16px auto 5vw auto;
}
.review-input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  background: var(--c-gray);
  border-radius: 10px;
  padding: 0 5vw;
}

.formBtn-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.formBtn-box p {
  font-size: var(--fs2);
  color: var(--c-gray2);
}

.formBtn > img {
  display: flex;
  width: 15px;
  height: 15px;
}

/* 버튼 클릭시 열리는 창 */
.btn-form-container {
  position: relative;
  z-index: 0;
}

.review-form {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-height: 0;
  border-radius: 10px;
  background: var(--c-gray);
  height: max-content;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  overflow: hidden;
}

.review-form.open {
  visibility: visible;
  max-height: max-content;
  z-index: 1;
}

.input-box.form {
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
}

.title-search-box {
  width: 100%;
  display: flex;
  height: 40px;
  margin-top: 0.5rem;
}

#work-name {
  width: 90%;
  background: var(--c-gray);
  border: 0;
  color: var(--c-font);
  font-size: var(--fs3);
}

#work-name::placeholder {
  font-size: var(--fs2);
}

#work-name:focus {
  outline: none;
}

.title-search-box button {
  width: 10%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.title-search-box button > img {
  width: 15px;
  height: 15px;
}

/* 2025.11.13 김하빈 자동완성 목록 들어가는 곳. 추후 수정예정 */
#search-result {
  width: 100%;
  height: max-content;
  background: var(--c-gray);
  margin-bottom: 1rem;
}
#search-result > li {
  color: var(--c-gray3);
  font-size: var(--fs2);
  font-weight: 500;
  line-height: 1.5;
  padding: 8px 0;
}

/* 2025.11.13 김하빈 추가 별점 박스 */
.star-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 0 0 1rem 0;
}

.rating-label {
  color: var(--c-main2);
  font-weight: 700;
}

.star > img {
  width: 20px;
}

.review-text-box {
  width: 100%;
  display: flex;
}
.review-text-box textarea {
  resize: none;
}
#review-text {
  width: 100%;
  font-size: var(--fs3);
  background: var(--c-gray);
  border: none;
  color: var(--c-font);
  font-family: var(--font-main);
  line-height: 1.6;
}

#review-text::placeholder {
  font-size: var(--fs2);
  font-family: var(--font-main);
}

#review-text:focus {
  outline: none;
}

.review-text-box .submit {
  width: 10%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.review-text-box .submit > img {
  width: 15px;
  height: 15px;
}

.prev-btn-box {
  margin: 1rem 0 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.prev-btn {
  pointer-events: auto;
  width: 15px;
  height: 15px;
  transform: rotate(90deg);
  cursor: pointer;
  z-index: 5;
}

.movein-review {
  margin-bottom: 11rem;
}

/* 시각적으로만 숨기고 스크린리더엔 보이게 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
