@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@latest/nanumsquare.css");

:root {
  --font-main: "NanumSquare", sans-serif;

  /* ========================
     Typography Scale
  ======================== */
  --fs10: 10px;
  --fs12: 12px;
  --fs14: 14px;
  --fs16: 16px;
  --fs18: 18px;

  /* ========================
     Brand Colors
  ======================== */
  --c-bg: #0b0b0b;
  --c-font: #faf5f5;
  --c-main: #8670ff;
  --c-main2: #c4b9ff;
  --c-point: #49e99c;
  --c-gray: #252426;
  --c-gray2: #6f6c76;
  --c-gray3: #8e8e9f;
  --c-danger: #f66060;

  /* Transparency */
  --c-point-50: rgba(73, 233, 156, 0.5);
  --c-main-50: rgba(134, 112, 255, 0.5);

  /* ========================
     Gradients
  ======================== */
  --gr-ra-pur-dark: radial-gradient(circle, #8670ff 0%, #0b0b0b 100%);

  --gr-li-gray: linear-gradient(90deg, #252426 0%, #6f6c76 100%);

  --gr-li-purple: linear-gradient(90deg, #504399 0%, #8670ff 50%);

  /* ========================
     Shadows
  ======================== */
  --shadow80: 0 0 5px rgba(11, 11, 11, 0.8); /* Drop shadow blur 5, 80% */
  --shadow50: 0 0 4px rgba(11, 11, 11, 0.5); /* Drop shadow blur 4, 50% */
}
